@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor-primaria: #FF577F;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #2B2B2B;
    --cor-hover: #717070;

    --fonte-primaria : 'Do Hyeon', sans-serif;
    --fonte-secundaria: "Lato", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-terciaria);
}

.cabecalho{
    padding: 2% 0 0 0%;
    justify-content: center;
    /* padding-bottom: 5px; */
}

.cabecalho_menu{
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.cabecalho_menu_link{
    /* padding-bottom: 3px; */
    display:flex;
    gap: 8px;
    font-family: var(--fonte-primaria);
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--cor-primaria);
}

.cabecalho_menu_link:hover{
    border-style: none none solid none;
}

.cabecalho_menu_link img{
    width: 1.5rem;
    height: 1.5rem;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 32px;
}

.apresentacao_conteudo {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 32px;
}

.apresentacao_conteudo_projetos{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 32px;
}

.apresentacao_conteudo_titulo{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
    color:var(--cor-secundaria);
}

.titulo_destaque{
    color: var(--cor-primaria);
}

.apresentacao_conteudo_texto {
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 18px;
}

.apresentacao_conteudo_imagens{
    display: flex;
    gap: 66.22px;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.apresentacao_conteudo_links{
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_botoes{
    display: flex;
    justify-content: center;
    /* width: 378px;
    height: 68px; */
    width: 50%;
    gap: 8px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    text-decoration: none;
    border: 2px solid var(--cor-primaria);
    padding: 16px;
    border-radius: 8px;
}

.apresentacao_botoes:hover{
    background-color: var(--cor-hover);
}

.quadrado_rosa{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: #FFF;
    width: 29.3rem;
    height: 29.5rem;
    background-color: var(--cor-primaria);
    border-radius: 16px;
    z-index: -1;
}

.retangulo_rosa{
    margin-top: 12px;
    margin-left: 12.15px;
    position: absolute;
    border-radius: 16px;
    width: 371px;
    height: 243px;
    border: 3px solid var(--cor-primaria);
    z-index: -1;
}

.imagem_foto{
    width: 72%;
    border-radius: 16px;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-secundaria);
    /* padding: 25px 0px; */
    /* border-top: 3px solid #FF577F; */
    box-shadow: 0px 0px 0px 3px rgba(255,87,127,0.25);
}

.rodape_texto{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1rem;
    padding: 25px 0px;
    color: #B9B9B9;
}

.rodape_imagem{
    padding-top: 25px;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10% 0% 10% 0%;
        justify-content: center;
    }

    .div_da_imagem {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container {
        position: relative;
        width: 16.875rem; /* Definindo a largura do contêiner para a largura do quadrado rosa */
        height: 16.875rem
    }

    .imagem_foto{
        width: 100%;
        border-radius: 16px;
        height: auto;
    }

    .quadrado_rosa{
        position: absolute;
        width: 100%; /* Definindo a largura do quadrado rosa para preencher o contêiner */
        height: 100%;
    }

    .cabecalho_menu{
        gap: 1.5rem;
    }

    .cabecalho_menu_link{
        font-size: 1rem;
        font-family: var(--fonte-primaria);
        font-weight: 400;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo{
        width: auto;
    }

    .apresentacao_conteudo_imagens{
        flex-direction: column;
    }

    .imagem_projeto{
        width: 19.373125rem;
        height: 12.71625rem;
    }

    .retangulo_rosa{
        width: 19.380625rem;
        height: 12.694375rem;
    }

    /* .apresentacao_conteudo_proetos{
        gap: 15px;
    } */
}